
.navbar-right {
	margin-right: 0; /* hack for .navbar-static-top */
}

.navbar-right a {
	text-decoration: underline; /* attribution link */
}

#stats {
	margin: 1em;
}

.issue-table tbody tr {
	cursor: pointer;
}

.issue-value {
	width: 4%;
	white-space: nowrap;
}

.issue-number {
	width: 8%;
}

td.issue-value:not(.issue-sorted) {
	color: #aaa;
}

.issue-sorted {
	font-weight: bold;
}
