
.navbar-right {
	margin-right: 0; /* hack for .navbar-static-top */
}

.navbar-link {
	text-decoration: underline; /* attribution link */
}

#stats {
	margin: 1em 15px; /* 15 is what the grid gutter is */
}

.issue-table tbody tr {
	cursor: pointer;
}

.issue-table th,
.issue-table td {
	width: 1%;
}

.issue-table .issue-title,
.issue-table .issue-titleAndLabels {
	width: auto;
}

.issue-labels {
	white-space: nowrap;
}

.issue-sorted {
	font-weight: bold;
}
